.r-navbar {
    background-color: #8a4d9f !important;
}
.zoom-img {
    transition: all 0.3s ease;

  
}

    .zoom-img:hover {
        transform: scale(2.0);
    }

.imgborder {
    border: 1px solid black;
    border-radius: 30px;
}
