

<main>
    <div class="p-5 text-white bg-dark text-center mb-4" style="font-family: Bebas Neue, sans-serif;">
        <div class="tracking-in-contract-bck"><h1>Benvenuto in Music Shop</h1></div>

    </div>
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://static.hifiplus.be/image/cache/catalog/03-SLIDERS/01-HOME-SLIDER/slider-stereo-versterkers-drk-min@2x-1400x500.jpg" class="d-block w-100" alt="strumenti1">

            </div>
            <div class="carousel-item">
                <img src="https://www.strumentimusicaliceccaroni.com/img/cms/2408882_3570417slider_home_strumenti_a_corda.jpg" class="d-block w-100" alt="strument">

            </div>
            <div class="carousel-item">
                <img src="https://www.geaps.com/app/uploads/2022/09/Featured-Image-Headers-1400x500-8.png" class="d-block w-100" alt="...">

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>
    <hr /> 
    <h3 class="text-center mb-4" style="font-family: Bebas Neue, sans-serif;"
        font-size: 30px, !important;
        margin-bottom: 0px;>
        I nostri marchi
    </h3>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3 mb-3">
                <img src="https://www.chitarrelettriche.com/wp-content/uploads/2017/05/Logo.Fende_-300x300.jpg" class="img-fluid" alt="Marchio 1">
            </div>
            <div class="col-md-3 mb-3">
                <img src="https://ih1.redbubble.net/image.3265324508.6383/st,small,507x507-pad,600x600,f8f8f8.jpg" class="img-fluid" alt="Marchio 2">
            </div>
            <div class="col-md-3 mb-3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8Ew0tfGGfovJtUf28SNpO75OFMFqD43c-wKxthoyg8w&s" class="img-fluid" alt="Marchio 2">
            </div>
            <div class="col-md-3 mb-3">
                <img src="https://prosoundeurope.com/cdn/shop/collections/rode-microphones.webp?v=1663769002" class="img-fluid" alt="Marchio 2">
            </div>
            <div class="col-md-3 mb-3">
                <img src="https://logosandtypes.com/wp-content/uploads/2020/08/yamaha.png" class="img-fluid" alt="Marchio 2">
            </div>
            <div class="col-md-3 mb-3">
                <img src="https://shop.triadestrumenti.it/image/cache/catalog/loghi/Rickenbacker%20LOGO-548x800.jpg" class="img-fluid" alt="Marchio 1">
            </div>
            <div class="col-md-3 mb-3">
                <img src="https://static.bax-shop.es/image/product/51179/166094/34385c33/Pearl_EB_20BDPL.jpg" class="img-fluid" alt="Marchio 1">
            </div>
            <div class="col-md-3 mb-3">
                <img src="https://i.etsystatic.com/34531699/r/il/adaf6e/3800331517/il_570xN.3800331517_omap.jpg" class="img-fluid" alt="Marchio 1">
            </div>
        </div>
    </div>
    <hr />
</main>